h1 { 
  background-color:#B0CFDE;
  font-size: 50px;
  color: #808080;
}
body {
	background-color: #B0CFDE;
    color: #2C3539;
    font-size: 14px;
}
table, th, td {
  border: 3px solid black;
}
.planet-table{
	white-space: nowrap;
	width: 100%;
	border-collapse: collapse;
	background-color:#808080;
	border-radius:10px;
	margin:25px auto;
}

.planet-table th tr td{
	letter-spacing: 0px;
	color:#2C3539;
	padding:8px;
}